* {
    background-image: url(imagenes/Playground\ Digital\ Art.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
}



/*Estilos para el logo principal de la página*/

.logo {
    padding-top: 25px;
    margin-left: 10px;
    width: 10%;
}

/*Estilos para el main de la página*/

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    justify-content: center;
}

/*Estilos para el text-area de la página*/

.text-area {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    margin-top: 90px;
    font-size: 1.6rem;
    margin-left: 30px;
}

::placeholder {
    color: white;
}

.text-area:focus {
    outline: none;
}

/*Estilos para el campo mensaje de la página*/


.campo-mensaje {
    background: white;
    background-image: url(imagenes/Muñeco.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
    font-size: 1.6rem;
    display: flex;
    width: 80%;
    height: 500px;
}

.campo-mensaje:focus {
    outline: none;
}

/*Estilos para los botones encriptar, desencriptar y copiar de la página*/

.botones {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}

.botton-encriptar {
    background: #120078;
    border: none;
    border-radius: 24px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 280px;
    transition: transform 0.5s ease-out, background-color 0.3s;

}


.botton-encriptar:hover {
    background-color: #1B3C73;
    transform: translateY(-5px) scale(1.0);
}

.botton-encriptar:active {
    background-color: #93B5C6;
}


.botton-desencriptar {
    background: #F9EFDB;
    border: none;
    border-radius: 24px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    height: 67px;
    margin-left: 20px;
    width: 280px;
    transition: transform 0.5s ease-out, background-color 0.3s;

}

.botton-desencriptar:hover {
    background-color: #FFDCA9;
    transform: translateY(-5px) scale(1.0);
}

.botton-desencriptar:active {
    background-color: #FAAB78;
}

.seccion-copiar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    justify-content: center;

}

.botton-copiar {
    background: #416D19;
    border: none;
    border-radius: 24px;
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    height: 67px;
    position: relative;
    margin-bottom: 30px;
    width: 250px;
    transition: transform 0.5s ease-out, background-color 0.3s;
}

.botton-copiar:hover {
    background-color: #9BCF53;
    transform: translateY(-5px) scale(1.0);
}

.botton-copiar:active {
    background-color: #BFEA7C;
}

/*Estilos para la información que se encuentra debajo del text-area de la página*/

.exclamacion-informacion {
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-top: 100px;

}

.exclamacion {
    width: 3%;

}

.informacion {
    color: white;
    font-size: 1.1rem;
    margin-left: 10px;
}

/* Estilo del footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    height: 30px;
    background: #2D2424;
}

footer * {
    background: #2D2424;
}

footer a {
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-logo {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.autor {
    color: whitesmoke;
    font-size: 1.1rem;
    font-style: oblique;
    margin-left: 1%;
    text-align: center;
    margin-top: 15px;
}


@media screen and (max-width: 1201px) {
    .logo {
        width: auto;
        margin: auto;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    .text-area {
        display: flex;
        width: 80%;
        height: auto;
        margin: 15px auto;
    }

    .campo-mensaje {
        width: 700px;
        height: auto;
        margin: 15px auto;
    }

    .seccion-copiar,
    .botones {
        display: flex;
        margin-top: 10px;
        height: auto;
        justify-content: center;
    }

    .botton-encriptar,
    .botton-desencriptar {
        width: 100%;
        margin-top: 5px;
        text-align: center;
        margin-bottom: 10px;
    }

    .botton-copiar {
        margin-top: auto;
        margin-right: 10px;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .exclamacion-informacion {
        margin-left: 5%;
        width: auto;
    }

    .exclamacion {
        width: auto;
        margin-left: 5%;
    }



    footer {
        margin-top: 10%;
    }
}

@media screen and (max-width: 768px) {
    .botones {
        flex-direction: column;
        align-items: center;
    }

    .botton-encriptar,
    .botton-desencriptar {
        margin-top: 10px;
        justify-content: center;
        width: 70%;
    }

    .campo-mensaje {
        width: 80%;
        margin-top: 30px;
        min-height: 80%;
    }

    .exclamacion {
        width: auto;
    }

    .informacion {
        margin: 0 5px;
    }
}